/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Global Styles */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    background-color: #fff;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 70px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-links li {
    margin-left: 24px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    padding: 8px 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ce5b0c;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    z-index: 1100;
}

.menu-icon .line {
    width: 28px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: all 0.3s ease;
}

#menu-toggle {
    display: none;
}

@media(max-width: 768px) {

    .logo {
        height: 59px;
    }

    .navbar {
        padding: 16px 24px;
    }

    .menu-icon {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        text-align: center;
        transition: height 0.5s ease;
        padding: 0;
    }

    .nav-links li {
        margin: 10px 0;
        padding: 0;
        width: auto;
    }

    .nav-links a {
        display: inline-block;
        padding: 12px 0;
        text-align: center;
        color: black;
        font-size: 18px;
    }

    #menu-toggle:checked+.menu-icon+.nav-links {
        height: auto;
        padding: 20px 0;
    }

    #menu-toggle:checked+.menu-icon .line:nth-child(1) {
        transform: rotate(45deg) translate(15px, 3px);
    }

    #menu-toggle:checked+.menu-icon .line:nth-child(2) {
        transform: scale(0);
    }

    #menu-toggle:checked+.menu-icon .line:nth-child(3) {
        transform: rotate(-45deg) translate(15px, -4px);
    }
}

/***************************************************************************************/

/* Estilos para la Sección Conóceme */

.about-section {
  width: 100%;
  background-color: #FFFF;
  padding: 180px 0;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 90%;
  gap: 60px;
  flex-wrap: wrap;
}

.about-image img {
  width: 360px;
  height: auto;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

.about-content {
  flex: 1;
  min-width: 300px;
}

.about-content h1 {
  font-weight: 400;
  font-size: 3rem;
  color: #222;
  margin-bottom: 20px;
}

.about-content p {
  font-weight: 300px;
  font-size: 1rem;
  line-height: 1.8;
  color: #555;
  text-align: justify;
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 80%;
  }

  .about-content h1 {
    font-size: 2rem;
  }

  .about-content p {
    font-size: 1rem;
  }
}


/***************************************************************************************/

/* Sección Misión y Visión */

.mision-vision {
  background-color: #FFFF;
  padding: 80px 80px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.mision-vision .container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -120px;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: #ce5b0c; 
  margin-bottom: -10px;
}

.section-subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  color: #666;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 40px 30px;
  width: 100%;
  max-width: 450px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(135deg, #ce5b0c, #ff874e);
  transition: width 0.4s ease;
  z-index: 0;
  border-radius: 20px;
}

.card:hover::before {
  width: 100%;
}

.card * {
  position: relative;
  z-index: 1;
}

.card-icon {
  font-size: 3rem;
  color: #ce5b0c;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.card h3 {
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.card p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  transition: color 0.3s ease;
}

.card:hover .card-icon,
.card:hover h3,
.card:hover p {
  color: #fff;
}

/* Responsivo */
@media (max-width: 768px) {
  .mision-vision {
    padding: 60px 40px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .mision-vision {
    padding: 40px 15px;
    margin-bottom: 110px;
  }

  .card {
    padding: 30px 20px;
  }

  .section-title {
    font-size: 1.8rem;
  }
}


@media (max-width: 480px) {
  .mision-vision {
    padding: 40px 15px;
  }

  .card {
    padding: 30px 20px;
  }

  .section-title {
    font-size: 1.8rem;
  }
}

/***************************************************************************************/

/* Sección Valores */
.valores-section {
  position: relative;
  min-height: 100vh;
  padding: 120px 20px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  filter: brightness(0.6);
}

.overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.valores-overlay {
  position: relative;
  width: 100%;
  z-index: 2;
}

.titulo-valores {
  color: #ffffff;
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.valores-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  justify-content: center;
}

.valor {
  max-width: 200px;
  margin: 0 auto;
}

.valor i {
  font-size: 2.6rem;
  margin-bottom: 12px;
  color: #ce5b0c;
}

.valor h2 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.valor p {
  color: #fff;
  font-size: 0.95rem;
  line-height: 1.4;
}

.valor:hover {
  transform: translateY(-8px);
}

.valor:hover i {
  color: #ff874e;
}

@media (max-width: 1024px) {
  .valores-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .valores-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .titulo-valores {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .valores-container {
    grid-template-columns: 1fr;
  }

  .titulo-valores {
    font-size: 2rem;
    margin-bottom: 40px;
  }
}

/***************************************************************************************/

/* Sección Confianza */

.confianza-section {
    text-align: center;
    padding: 80px 20px;
    background-color: #f9f9f9;
}

.confianza-title {
    font-size: 2.3rem;
    color: #333;
    margin-bottom: 50px;
    font-weight: 300;
}

.confianza-diferenciadores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.confianza-item {
    background-color: #ce5b0c;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 30px 40px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default;
}

.confianza-item h4 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.confianza-item p {
  color: #ffffff;
  font-weight: 200;
}

.confianza-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .confianza-diferenciadores {
        flex-direction: column;
        align-items: center;
    }
    .confianza-item {
        width: 80%;
        max-width: 320px;
    }

    .confianza-section {
        padding: 60px 10px;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .confianza-title {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    .confianza-diferenciadores {
        flex-direction: column;
        align-items: center;
    }
    .confianza-item {
        width: 60%;
        max-width: 280px;
    }
}

/***************************************************************************************/

/* Footer */
.footer {
  background-color: #e2e2e2;
  color: #000;
  padding: 5px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  gap: 80px;
  margin-bottom: 10px;
}

.footer-section {
  flex: 1 1 220px;
  max-width: 260px;
  min-width: 220px;
  padding: 10px;
  text-align: center;
}

.footer-section img.footer-imagen {
  margin-top: 15px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
}

.footer-section p {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.4;
  font-weight: 300;
}

.redes a {
  display: inline-block;
}

.footer-section .fa-brands {
  font-size: 28px;
  margin: 0 10px;
  transition: transform 0.3s ease;
  color: black;
}

.footer-section .fa-brands:hover {
  transform: scale(1.2);
  color: #ce5b0c;
}

.footer-link {
  display: block;
  color: black;
  text-decoration: none;
  margin: 6px 0;
  transition: color 0.3s ease;
  font-weight: 300;
}

.footer-link:hover {
  color: #ce5b0c;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
  }

  .footer-section {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
  }

  .footer-section h3 {
    margin-top: -75px;
    margin-bottom: 6px;
  }

  .footer-section p {
    margin-bottom: 4px;
    line-height: 1.3;
  }

  .footer-section img.footer-imagen {
    width: 50%;
    max-width: 170px;
    margin: 0 auto 8px auto;
    display: block;
    margin-top: 15px;
  }

  .footer-section .fa-brands {
    margin: 0 8px;
    font-size: 26px;
  }
}